*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(/Image/banner4.png);
    background-position:center;
    background-size: cover;
    position: relative; 
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
font-size: 14px;
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background:#425f96 ;    
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


nav .fa{
    display: none;
}


@media (max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #425f96;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
         z-index: 2;
         transition: 0.8s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul {
    padding: 30px;

}
}
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:20px;

}
.about h1{
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
.row{
    color: #fff;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  
}
.about-col{
    flex-basis: 31%;
    background:#1c2638a1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

p{
    font-size: 20px;
}

.about-col:hover{
    border: 1px solid #8999b8;
    box-shadow: 1px #8296bb;
    transition: 0.3s;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul i {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
footer{
    background-color:  #2b2b42;
}
.footerContainer{
    width: 100%;
    padding: 15px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*Hover Effects on Social Media Icons */
.socialIcons a:hover{
background-color: #111;
transition: 0.5;
}

.socialIcons a:hover i{
    color: white;
    transition:0.5s ;
}

.footerNav{
    margin: 30px 0;
    
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none disc;
}
.footerNav ul i a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul i a:hover{
    opacity: 1;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

